<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>


</head>
<body>
    <div id="app">
        <h1 v-bind:value="name"></h1>
        <h2>age {{age + "岁"}}</h2>
        <input type="text" v-model="name"> 姓名
        <button @click="getMsg">nihao</button>
        <img :src="imgSrc" alt="获取图片失败">
<!--        checked box -->
        <input type="checkbox" name="man" v-model="manCheck" value="男人">
<!--        select -->
        <select name="selected" id="" v-model="mySelected">
            <option value="1">1</option>
            <option value="5">2</option>
            <option value="3">3</option>
        </select>
        <h3>{{manCheck}}</h3>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                name: "xuanweilun",
                age: '21',
                imgSrc: 'jj',
                manCheck: true,
                mySelected: 5
            },
            mounted () {
                var that = this;
                axios.get('http://localhost:8001/name',{
                        params:{
                            name : this.name
                        }
                    })
                    .then(function (response) {

                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            methods:{
                getMsg: function(){
                    var that = this;
                    console.log(this._data);
                    console.log(JSON.stringify(this._data));
                    // $.ajax({
                    //     type: 'get',
                    //     dataType: 'json',
                    //     contentType: 'application/json',
                    //     data:JSON.stringify(this.name),
                    //     url: 'http://localhost:8001/name',
                    //     success: function(data){
                    //
                    //     },
                    //     err: function(data){
                    //     }
                    // });
                    axios.get('http://localhost:8001/name',{
                            params:this._data
                        })
                        .then(function e(res){
                            var ajxRes = res.data;
                            if(ajxRes.success){
                                Object.assign(that,ajxRes.data);
                            }
                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                }
            }

        });

    </script>
<!--
response => (this.name = response.data.data.name,this.age = response.data.data.age)
-->
</body>
</html>