<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="js/layui/css/layui.css">

    <style>
        .hide1 {
            display: none;
        }
    </style>

</head>
<body>
    <button onclick="save()" style="margin-top: 100px;margin-left: 50px">增加</button>
    <button onclick="del(1)" >删除</button>
    <button onclick="edit(1)" >编辑</button>
    <button onclick="check(1)" >查询</button>
    <!-- 增加 -->
    <div id="save" style="width: 500px;text-align: center" class="hide1">
        <h1>id: {{id}}</h1>
        <input type="text" v-model="id" >
        <hr>
        <h1>{{name}}</h1>
        <input type="text" v-model="name" value="姓名">
        <hr>
        <h2>年龄 {{age + "岁"}}</h2>
        <input type="text" v-model="age" value="年龄">
        <hr>
        <hr>
        <img v-bind:src="headPic" alt="获取图片失败" width="100px" height="100px">
        <hr>
        <!-- checked box -->
        <input type="checkbox" name="man" v-model="marry" value="男人"> 已婚
        <h3>{{marry}}</h3>
        <hr>
        <!-- select -->
        <select name="selected" id="" v-model="habit">
            <option value="show">爱好</option>
            <option value="footBall">足球</option>
            <option value="basketBall">篮球</option>
            <option value="guitar">吉他</option>
        </select>
        <h3>selectValue: {{habit}}</h3>
        <hr>
        <!--        <button @click="getMsg">查询</button>-->
        <!--        <button @click="addMsg">创建</button>-->
        <!--        <button @click="editMsg">修改</button>-->
        <!--        <button @click="delMsg">删除</button>-->
    </div>
    <!-- 查询 -->
    <div id="check" style="width: 500px;text-align: center" class="hide1">
        <h1>id: {{id}}</h1>
        <input type="text" v-model="id" >
        <hr>
        <h1>{{name}}</h1>
        <input type="text" v-model="name" value="姓名">
        <hr>
        <h2>年龄 {{age + "岁"}}</h2>
        <input type="text" v-model="age" value="年龄">
        <hr>
        <hr>
        <img v-bind:src="headPic" alt="获取图片失败" width="100px" height="100px">
        <hr>
        <!-- checked box -->
        <input type="checkbox" name="man" v-model="marry" value="男人"> 已婚
        <h3>{{marry}}</h3>
        <hr>
        <!-- select -->
        <select name="selected" id="" v-model="habit">
            <option value="show">爱好</option>
            <option value="footBall">足球</option>
            <option value="basketBall">篮球</option>
            <option value="guitar">吉他</option>
        </select>
        <h3>selectValue: {{habit}}</h3>
        <hr>
<!--        <button @click="getMsg">查询</button>-->
<!--        <button @click="addMsg">创建</button>-->
<!--        <button @click="editMsg">修改</button>-->
<!--        <button @click="delMsg">删除</button>-->
    </div>
    <!-- 编辑 -->
    <div id="edit" style="width: 500px;text-align: center" class="hide1">
        <h1>id: {{id}}</h1>
        <input type="text" v-model="id" >
        <hr>
        <h1>{{name}}</h1>
        <input type="text" v-model="name" value="姓名">
        <hr>
        <h2>年龄 {{age + "岁"}}</h2>
        <input type="text" v-model="age" value="年龄">
        <hr>
        <hr>
        <img v-bind:src="headPic" alt="获取图片失败" width="100px" height="100px">
        <hr>
        <!-- checked box -->
        <input type="checkbox" name="man" v-model="marry" value="男人"> 已婚
        <h3>{{marry}}</h3>
        <hr>
        <!-- select -->
        <select name="selected" id="" v-model="habit">
            <option value="show">爱好</option>
            <option value="footBall">足球</option>
            <option value="basketBall">篮球</option>
            <option value="guitar">吉他</option>
        </select>
        <h3>selectValue: {{habit}}</h3>
        <hr>
<!--        <button @click="getMsg">查询</button>-->
<!--        <button @click="addMsg">创建</button>-->
<!--        <button @click="editMsg">修改</button>-->
<!--        <button @click="delMsg">删除</button>-->
    </div>

    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery-1.4.2.js"></script>
    <script src="js/layui/layui.all.js"></script>
    <script src="js/rest.js"></script>
    <script>
        var url = 'person';
        var formData = {
            name: '',
            age: '',
            headPic: '',
            marry: false,
            habit: '',
            id: '',
        };


        var vueCheck = new Vue({el: "#check",data: formData});
        var vueEdit = new Vue({el: "#edit",data: formData});
        var vueSave = new Vue({el: "#save",data: {
                name: '',
                age: '',
                headPic: '',
                marry: false,
                habit: '',
                id: '',
            }});



        //保存
        function save() {
            layer.open({
                type:1,
                title: '添加',
                area: ['600px', '450px'],
                content: $("#save"),
                btn: ['确认', '取消'],
                yes: function(index, layero){
                    saveVue(vueSave,url,function () {
                        // $("#save").css("display","none");
                        // layer.close(index);
                    });
                },
                btn2:function(){
                    //右上角关闭回调
                    $("#save").css("display","none");
                    //return false 开启该代码可禁止点击该按钮关闭
                },
                cancel: function(){
                    //右上角关闭回调
                    $("#save").css("display","none");
                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        }
        //编辑
        function edit(id){
            //get data
            setVue(vueEdit,url,1,function(){
                layer.open({
                    type:1,
                    title: '编辑',
                    area: ['600px', '450px'],
                    content: $("#edit"),
                    btn: ['确认', '取消'],
                    yes: function(index, layero){
                        updateVue(vueEdit,url,1,function () {
                            // $("#edit").css("display","none");
                            // layer.close(index);
                        });
                        return true;
                    },
                    btn2:function(){
                        //右上角关闭回调
                        $("#edit").css("display","none");
                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    cancel: function(){
                        //右上角关闭回调
                        $("#edit").css("display","none");
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });
            });

        }
        //查看
        function check(id) {
            setVue(vueCheck,url,id,function () {
                layer.open({
                    type:1,
                    title: '查看',
                    area: ['600px', '450px'],
                    content: $("#check"),
                    btn: ['确认'],
                    yes: function(index, layero){
                        layer.close(index);
                        $("#check").css("display","none");
                        return false;
                    },
                    cancel: function(){
                        //右上角关闭回调
                        $("#check").css("display","none");
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                });
            });
        }

        function del(id) {
            layer.confirm('确定删除该数据?', {
                title: '提示',
                btn: ['确定', '取消'], //按钮
                yes: function(index, layero){
                    delVue(url,id,function (){
                        layer.close(index)
                    });
                }
                // shade: false //不显示遮罩
            });
        }




    </script>
<!--
response => (this.name = response.data.data.name,this.age = response.data.data.age)
   // $.ajax({
                    //     type: 'get',
                    //     dataType: 'json',
                    //     contentType: 'application/json',
                    //     data:JSON.stringify(this.name),
                    //     url: 'http://localhost:8001/name',
                    //     success: function(data){
                    //
                    //     },
                    //     err: function(data){
                    //     }
                    // });


                     // console.log(this._data);
                    // console.log(JSON.stringify(this._data));

                    axios.get('http://localhost:8001/name',{
                            params:this._data
                        })
-->
</body>
</html>